.chat-right-roster
	hr
		border-top-color: rgba(0, 0, 0, 0.25)

	.chatui-header
		font-size: 14px
		line-height: 14px
		color: #999999
		text-transform: uppercase
		padding: 5px 20px

	.list-group-item
		background: transparent
		min-height: 52px
		border: 0
		border-radius: 0 !important
		&:hover
			background: rgba(0, 0, 0, 0.2)
		img
			float: left
			width: 32px
			height: 32px
			margin-right: 10px
		.list-group-item-heading
			color: #ffffff
			line-height: 32px
			margin: 0

		&.current-user
			cursor: default
			background: rgba(0, 0, 0, 0)
			.list-group-item-heading
				color: #1bbae1

		&.selected
			background: rgba(0, 0, 0, 0.2)

		.online-indicator
			line-height: 35px

.chats-user-info
	.widget-image
		width: 56px
		height: 56px
	.widget-content
		strong
			font-size: 16px