<header class="navbar navbar-default">
  <!-- Left Header Navigation -->
  <ul class="nav navbar-nav-custom">
    <li>
      <a href="javascript:void(0)" onclick="ProUI.sidebar('toggle-sidebar');">
      <i class="fa fa-bars fa-fw"></i>
      </a>
    </li>
  </ul>
  <!-- END Left Header Navigation -->

  <div id="header-region">
    <!-- #user-account inserted here -->
  </div>

</header>
<!-- END Header -->

<!-- <ul class="nav navbar-nav-custom pull-right"> -->
<script type="text/template" id="user-account">
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
    <img src="<%= avatar %>" alt="avatar"> <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
      <li class="dropdown-header text-center"><%= name %></li>
      <li>
        <a href="page_ready_user_profile.html">
        <i class="fa fa-user fa-fw pull-right"></i>
          我的主页
        </a>
        <a href="#modal-user-settings" data-toggle="modal">
        <i class="fa fa-cog fa-fw pull-right"></i>
          设置
        </a>
      </li>
      <li class="divider"></li>
      <li>
        <a class="js-logout"><i class="fa fa-ban fa-fw pull-right"></i> 退出</a>
      </li>
    </ul>
  </li>
</script>