<div id="sidebar" class="left-region menu-sidebar">
<!-- #menu-layout to be inserted here -->
</div>

<script type="text/template" id="menu-sidebar-view">
  <div class="sidebar-content">
    <span class="sidebar-brand">
      <i class="gi gi-flash"></i>Qor Chat Demo
    </span>
    <ul id="sidebar-menu" class="sidebar-nav" >

    </ul>
  </div>
</script>

<script type="text/template" id="menu-item-view">
  <a href="javascript:void(0);">
    <i class="gi sidebar-nav-icon"></i><%= title %>
  </a>
</script>


