
<div id="page-content" class="main-region">
  <!-- #private-chat-layout inserted here -->
</div>


<!-- <div class="block"> -->
<script type="text/template" id="private-chat-layout">
  <div id="title-region" class="block-title">
  </div>

  <div class="chatui-container block-content-full">

    <div id="roster-region" class="chatui-people themed-background-dark">
    </div>

    <div id="messages-region" class="chatui-talk">
    </div>

    <div id="input-region" class="chatui-input">
    </div>

  </div>
</script>


<script type="text/template" id="private-chat-title">
  <div class="block-options pull-right">
    <div class="btn-group btn-group-sm">
      <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Status"><i class="fa fa-cog"></i></a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="active">
          <a href="javascript:void(0)"><i class="fa fa-check pull-right"></i>Online</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:void(0)"><i class="fa fa-circle pull-right"></i>Away</a>
          <a href="javascript:void(0)"><i class="fa fa-circle pull-right"></i>Busy</a>
        </li>
      </ul>
    </div>
  </div>

  <h2><i class="fa fa-pencil animation-pulse"></i> <strong>Shirley</strong> Wells</h2>
</script>

<script type="text/template" id="private-chat-roster">
  <div class="chatui-people themed-background-dark">
    <div class="chatui-people-scroll">
      <h2 class="chatui-header"><i class="fa fa-circle text-success pull-right"></i><strong>Online</strong></h2>
      <div class="list-group">
        <a href="javascript:void(0)" class="list-group-item active">
        <span class="badge">2</span>
        <img src="/assets/img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
        <h5 class="list-group-item-heading"><strong>Shirley</strong> Wells</h5>
        </a>
        <a href="javascript:void(0)" class="list-group-item">
        <span class="badge">5</span>
        <img src="/assets/img/placeholders/avatars/avatar9.jpg" alt="Avatar" class="img-circle">
        <h5 class="list-group-item-heading"><strong>Craig</strong> West</h5>
        </a>
      </div>
    </div>
  </div>
</script>

<script type="text/template" id="private-chat-messages">
  <div class="chatui-talk-scroll">
    <ul>
      <li class="text-center"><small>yesterday, 23:10</small></li>
      <li class="chatui-talk-msg">
        <img src="/assets/img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle chatui-talk-msg-avatar"> Hey admin?
      </li>
      <li class="chatui-talk-msg">
        <img src="/assets/img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle chatui-talk-msg-avatar"> How are you?
      </li>
      <li class="text-center"><small>just now</small></li>
      <li class="chatui-talk-msg chatui-talk-msg-highlight themed-border">
        <img src="/assets/img/placeholders/avatars/avatar2.jpg" alt="Avatar" class="img-circle chatui-talk-msg-avatar"> I am fine, thanks!
      </li>
    </ul>
  </div>
</script>

<script type="text/template" id="private-chat-input">
  <form action="page_ready_chat.html" method="post" class="form-horizontal form-control-borderless remove-margin">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
      <input type="text" id="chatui-message" name="chatui-message" class="form-control input-lg" placeholder="Type a message and hit enter..">
    </div>
  </form>
</script>
