
<!-- Private Chat Related -->
<!-- <div class="block"> -->
<script type="text/template" id="private-chat-layout">
  <div id="title-region" class="block-title">
  </div>

  <div class="chatui-container block-content-full">

    <div id="roster-region" class="chatui-people themed-background-dark">
    </div>

    <div class="chatui-talk">
      <div id="messages-region" class="chatui-talk-scroll">

      </div>
    </div>

    <div id="input-region" class="chatui-input">
    </div>

  </div>
</script>


<script type="text/template" id="private-chat-title">
  <div class="block-options pull-right">
    <div class="btn-group btn-group-sm">
      <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default dropdown-toggle enable-tooltip" data-toggle="dropdown" title="Status"><i class="fa fa-cog"></i></a>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="active">
          <a href="javascript:void(0)"><i class="fa fa-check pull-right"></i>Online</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="javascript:void(0)"><i class="fa fa-circle pull-right"></i>Away</a>
          <a href="javascript:void(0)"><i class="fa fa-circle pull-right"></i>Busy</a>
        </li>
      </ul>
    </div>
  </div>

  <h2><i class="fa fa-pencil animation-pulse"></i> <%= name %></h2>
</script>

<script type="text/template" id="private-chat-roster">

  <div class="chatui-people themed-background-dark">
    <div class="chatui-people-scroll">
      <h2 class="chatui-header"><i class="fa fa-circle text-success pull-right"></i><strong>Online</strong></h2>
      <div class="list-group">

      </div>
    </div>
  </div>

</script>

<script type="text/template" id="private-chat-buddy">
  <a href="javascript:void(0)" class="list-group-item">
    <img src="<%= avatar %>" alt="Avatar" class="img-circle">
    <h5 class="list-group-item-heading"><%= name %></h5>
  </a>
</script>

<script type="text/template" id="private-chat-message">
  <img src="<%= fromUserAvatar %>" alt="Avatar" class="img-circle chatui-talk-msg-avatar"> <%= content %>
</script>

<script type="text/template" id="private-chat-input">
  <form class="form-horizontal form-control-borderless remove-margin">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
      <input type="text" id="chatui-message" name="content" class="form-control input-lg" placeholder="Type a message and hit enter..">
    </div>
  </form>
</script>
