<div id="sidebar-alt">
	<!-- Wrapper for scrolling functionality -->
	<div class="sidebar-scroll">
		<!-- Sidebar Content -->
		<div class="sidebar-content">
			<!-- Chat -->
			<!-- Chat demo functionality initialized in js/app.js -> chatUi() -->
			<span class="sidebar-title">
			<i class="gi gi-group pull-right"></i>
			</span>

			<!-- People -->
			<div class="chat-right-roster themed-background-dark">
				<!-- Online -->
				<h2 class="chatui-header"><i class="fa fa-circle text-success pull-right"></i><strong>Online</strong></h2>
				<div class="list-group">
					<a href="javascript:void(0)" class="list-group-item">
					<span class="badge">2</span>
					<img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
					<h5 class="list-group-item-heading"><strong>Shirley</strong> Wells</h5>
					</a>
				</div>
				<!-- END Online -->

				<!-- Offline -->
				<h2 class="chatui-header"><i class="fa fa-circle text-muted pull-right"></i><strong>Offline</strong></h2>
				<div class="list-group">
					<a href="javascript:void(0)" class="list-group-item">
						<img src="img/placeholders/avatars/avatar5.jpg" alt="Avatar" class="img-circle">
						<h5 class="list-group-item-heading"><strong>Louis</strong> Peters</h5>
					</a>
				</div>
				<!-- END Offine -->
			</div>
			<!-- END People -->

		</div>
		<!-- END Sidebar Content -->
	</div>
	<!-- END Wrapper for scrolling functionality -->
</div>