<div id="sidebar-alt" class="right-region">
<!-- #roster-sidebar-layout to be inserted here -->
</div>

<!-- ###
	Lobby:
	Roster siderbar view
	### -->
<script type="text/template" id="roster-sidebar-view">
	<div class="sidebar-content">
		<span class="sidebar-title">
			<button type="button" class="btn btn-xs btn-success js-start-chat hide">Start Chat</button>
			<i class="gi gi-group pull-right"></i>
		</span>

		<div class="chat-right-roster themed-background-dark">
			<div id="user-list" class="list-group">

			</div>
		</div>
	</div>
</script>

<!-- #list-group -->
<script type="text/template" id="roster-item">
	<a href="javascript:void(0)" class="list-group-item">
		<i class="online-indicator fa fa-circle <%= onlineIcon %> pull-right"></i>
		<img src="<%= avatar %>" alt="Avatar" class="img-circle">
		<h5 class="list-group-item-heading"><%= name %></h5>
	</a>
</script>


<!-- ###
	Private/Group chat:
	User info siderbar view
	### -->
<script type="text/template" id="user-info-sidebar-view">
	<div class="sidebar-content">
		<span class="sidebar-title">
			<i class="gi gi-nameplate pull-right"></i>
		</span>

		<div class="chats-user-info widget">
			<div class="widget-simple text-center themed-background-dark">
				<img src="/assets/img/placeholders/avatars/avatar15.jpg" alt="avatar" class="widget-image img-circle">
				<h4 class="widget-content">
					<strong><%= name %></strong>
					<small><%= email %></small>
				</h4>
			</div>
		</div>
	</div>
</script>