<!-- Main Sidebar -->
<div id="sidebar">
  <!-- Wrapper for scrolling functionality -->
  <div class="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Brand -->
      <a href="index.html" class="sidebar-brand">
      <i class="gi gi-flash"></i>Qor Chat Demo
      </a>
      <!-- END Brand -->

      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <li>
          <a href="javascript:void(0);" class="active"><i class="gi gi-stopwatch sidebar-nav-icon"></i>Private Chat</a>
        </li>
      </ul>
      <!-- END Sidebar Navigation -->
    </div>
  </div>
</div>
<!-- END Main Sidebar -->