<!-- Main Sidebar -->
<div id="sidebar">
  <!-- Wrapper for scrolling functionality -->
  <div class="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Brand -->
      <a href="index.html" class="sidebar-brand">
        <i class="gi gi-flash"></i>Qor Chat Demo
      </a>
      <!-- END Brand -->

      <!-- Sidebar Navigation -->
      <ul id="left-region" class="sidebar-nav">
      </ul>
      <!-- END Sidebar Navigation -->
    </div>
  </div>
</div>
<!-- END Main Sidebar -->


<script type="text/template" id="navigation-tabs">
  <li>
    <a href="javascript:void(0);" class="navigation-tab-private"><i class="gi gi-chat sidebar-nav-icon"></i>Private Chat</a>
  </li>
  <li>
    <a href="javascript:void(0);" class="navigation-tab-group"><i class="gi gi-group sidebar-nav-icon"></i>Group Chat</a>
  </li>
  <li>
    <a href="javascript:void(0);" class="navitation-tab-history"><i class="gi gi-history sidebar-nav-icon"></i>Chat History</a>
  </li>
</script>
