<!-- Main Sidebar -->
<div id="sidebar">
  <!-- Wrapper for scrolling functionality -->
  <div class="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Brand -->
      <a href="index.html" class="sidebar-brand">
        <i class="gi gi-flash"></i>Qor Chat Demo
      </a>
      <!-- END Brand -->

      <!-- Sidebar Navigation -->
      <ul id="left-region" class="sidebar-nav">
      </ul>
      <!-- END Sidebar Navigation -->
    </div>
  </div>
</div>
<!-- END Main Sidebar -->

<script type="text/template" id="navigation-tab">
  <a href="javascript:void(0);">
    <i class="sidebar-nav-icon gi <%- icon %>"></i>
    <%- name%>
  </a>
</script>
<script type="text/template" id="navigation-tabs">
</script>
