{{ template "header.html" . }}

<div id="page-container" class="sidebar-visible-lg sidebar-no-animations sidebar-alt-visible-lg">

  {{ template "App/_left_sidebar.html" }}

  {{ template "App/_right_sidebar.html" }}

  <!-- Main Container -->
  <div id="main-container">

    {{ template "App/_header.html" }}

    <div id="page-content" class="main-region">
  		<!-- Page content inserted here -->
  		{{ template "App/_lobby.html" }}
		</div>



  </div>
  <!-- END Main Container -->
</div>
<!-- END Page Container -->

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>


{{ template "footer.html" . }}