{{ template "header.html" . }}

<div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">

  {{ template "App/_sidebar.html" }}

  <!-- Main Container -->
  <div id="main-container">

    {{ template "App/_header.html" }}

    {{ template "App/_main.html" }}

  </div>
  <!-- END Main Container -->
</div>
<!-- END Page Container -->

<!-- Scroll to top link, initialized in js/app.js - scrollToTop() -->
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>


{{ template "footer.html" . }}
